<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.io.choozo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.About.AboutUsActivity"></activity>
        <activity android:name=".activity.About.ContactUsActivity" />
        <activity
            android:name=".activity.Profile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.loginRegistrationflow.OtpForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.loginRegistrationflow.ForgotPasswodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordersucessfull.OrderSucessfullyPlacedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.checkout.CheckOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.homeActivity.CategorySubCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.loginRegistrationflow.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.splashActivity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.homeActivity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.homeActivity.CartActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>